@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');*/
@font-face {
  font-family: "PlayM";
  src: url("../fonts/Play-Bold.eot");
  src: local("☺"), url("../fonts/Play-Bold.woff") format("woff"), url("../fonts/Play-Bold.ttf") format("truetype"), url("../fonts/Play-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PlayM";
  src: url("../fonts/Play-Regular.eot");
  src: local("☺"), url("../fonts/Play-Regular.woff") format("woff"), url("../fonts/Play-Regular.ttf") format("truetype"), url("../fonts/Play-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
input::-webkit-input-placeholder,
input,
textarea::-webkit-input-placeholder,
textarea {
  color: #30454F;
}

/*Состояния кнопок*/
.primal-button,
.secondary-button,
.another-button,
.primal-text,
.auth-button {
  -webkit-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  transition: all 250ms ease;
}

.primal-button:hover, .auth-button:hover {
  background-color: #FF946D;
}

.secondary-button:hover {
  background: #FF946D;
}

.secondary-button:hover svg path,
.secondary-button:active svg path {
  stroke: #FFFFFF;
}

.secondary-button:hover .secondary-button__text,
.secondary-button:active .secondary-button__text {
  color: #FFFFFF;
}

.primal-button:active,
.secondary-button:active {
  background-color: #DE5929;
  transform: translate(0, 5px);
}

.auth-button:active {
  background-color: #DE5929;
}

.auth-button.disabled {
  background-color: #FAC0AC;
}

.primal-button.disabled {
  background-color: #FAC0AC;
}

.secondary-button.disabled {
  border: 1px solid #FAC0AC;
}

.secondary-button.disabled span {
  color: #FAC0AC;
}

.another-button:hover a {
  border: 1px solid #5CA2FF;
  opacity: 1;
}

.small-photo a:hover img, .big-photo a:hover img {
  box-shadow: 0 0 0 1px #5CA2FF;
}

.another-button:hover a span {
  color: #5CA2FF;
}

.another-button:active {
  transform: translate(0, 5px);
}

.primal-text:hover {
  border: 1px solid #30454F;
  box-shadow: 0 0 2px 2px #5CA2FF;
}

.primal-text:focus {
  border: 1px solid #5CA2FF;
  box-shadow: 0 0 0 0 #FFFFFF;
}

.plots-sliders__tab.disable .plots-sliders__svg a svg path {
  fill: #A4B8C1;
}
.plots-sliders__tab.disable .plots-sliders__svg a svg circle:first-child {
  stroke: #A4B8C1;
  fill: #FFFFFF;
}
.plots-sliders__tab.disable .plots-sliders__svg a svg circle {
  fill: #A4B8C1;
}

.plots-sliders__tab.disable .plots-sliders__svg.girl a svg path:last-child {
  fill: white;
}

.plots-sliders__tab.disable .girl .label-girl,
.plots-sliders__tab.disable .boy .label-boy {
  display: inline-block;
  border-bottom: 1px solid #A4B8C1;
}

.plots-sliders__tab.disable .girl a span,
.plots-sliders__tab.disable .boy a span {
  color: #A4B8C1;
}

.plots-sliders__tab:hover .girl a span {
  color: #FF946D;
}

.plots-sliders__tab:hover .boy a span {
  color: #5CA2FF;
}

.plots-sliders__tab:hover div.girl .label-girl {
  display: inline-block;
  border-bottom: 1px solid #FF946D;
}

.plots-sliders__tab:hover div.boy .label-boy {
  display: inline-block;
  border-bottom: 1px solid #5CA2FF;
}

.plots-sliders__tab:hover .girl a svg path {
  fill: #FF946D;
}
.plots-sliders__tab:hover .girl a svg path:last-child {
  fill: #FFFFFF;
}
.plots-sliders__tab:hover .girl a svg circle:first-child {
  stroke: #FF946D;
  fill: #FFFFFF;
}
.plots-sliders__tab:hover .girl a svg circle {
  fill: #FF946D;
}

.plots-sliders__tab:hover .boy a svg path {
  fill: #5CA2FF;
}
.plots-sliders__tab:hover .boy a svg circle:first-child {
  stroke: #5CA2FF;
  fill: #FFFFFF;
}
.plots-sliders__tab:hover .boy a svg circle {
  fill: #5CA2FF;
}

.topmenu__menulink.selected {
  color: #FF7A49;
  display: block;
  border-bottom: 2px solid #FF7A49;
}

.plotsm-slider__slide.swiper-slide:hover {
  border-radius: 5px;
  box-shadow: 0 0 0 1px #0091FF;
}

.plotsm-slider__slide.swiper-slide.selected {
  border-radius: 5px;
  box-shadow: 0 0 0 1px #0091FF;
}

.order-info__change-order a:hover svg path {
  stroke: #5CA2FF;
}

.order-info__change-order a:hover svg path {
  stroke: #5CA2FF;
}

.order-info__cancel-order a:hover svg path {
  stroke: #FF946D;
}

.order-info__change-order a:hover div span {
  color: #5CA2FF;
}

.order-info__cancel-order a:hover div span {
  color: #FF946D;
}

.pp-change-size__minus:hover svg path,
.pp-change-size__plus:hover svg path {
  stroke: #5CA2FF;
}

/*Состояния кнопок_конец*/
img {
  /*  pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

body {
  font-family: "PlayM", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #30454F;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 2px solid rgba(255, 122, 73, 0.2);
  margin: 0 0 40px 0;
}

.main {
  flex: auto 1 0;
  margin: 0 0 40px 0;
}

.main.slider-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background: #30454F;
  padding: 16px 0;
}

.topmenu {
  position: relative;
  z-index: 50;
  display: flex;
  height: 78px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.topmenu__menuitems {
  display: flex;
  justify-content: space-around;
  flex: 33.3333% 0 1;
}

.topmenu__text {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.topmenu__menulink {
  position: relative;
  line-height: 2.7;
  text-decoration: none;
  color: #30454F;
}

.topmenu__menulink:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FF7A49;
  content: "";
  transition: width 0.5s ease-out;
}

.topmenu__menulink:hover {
  color: #FF7A49;
}

.topmenu__menulink:hover:after,
.topmenu__menulink:focus:after {
  width: 100%;
}

.topmenu__orderbutton {
  display: inline-block;
  width: 186px;
  height: 39px;
  background-color: #FF7A49;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topmenu__ordertext {
  display: block;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*СЛАЙДЕР*/
.main-slider {
  width: 100%;
}

.image-slider.swiper-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.image-slider__slide.swiper-slide img {
  max-width: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-slider__wrapper {
  padding: 10px 0 0 0;
  margin: 0 0 100px 0;
}

.image-slider .swiper-pagination-bullet {
  background-color: #FF7A49;
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  .image-slider__wrapper {
    margin: 0 0 60px 0;
  }
}
@media (max-width: 360px) {
  .image-slider__wrapper {
    margin: 0 0 40px 0;
  }
}
/*СЛАЙДЕР_КОНЕЦ*/
/*Соглашения и правила пользования*/
.nav-container {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.nav-container__symbol {
  background-image: url("../img/svg/Arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 16px;
  min-width: 50px;
}

.nav-container__fromlink {
  text-decoration-line: underline;
  color: #0091FF;
}

.nav_tou {
  margin: 0 0 30px 0;
}

.main-label {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.minfo-container__part1 {
  margin: 0 0 20px 0;
}

.minfo-container__part2, .term-container__part2 {
  font-size: 18px;
  line-height: 21px;
}

.term-container__part1 {
  margin: 25px 0 12px 0;
}

.term-container__blazing {
  color: #FF7A49;
}

.term-container__main-label {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.term-container__part2 p {
  margin-bottom: 5px;
}

.term-container__part2 p:last-child {
  margin-bottom: 0px;
}

.extra {
  margin-top: 25px;
}

.term-info:last-child {
  margin-bottom: 60px;
}

/*Соглашения и правила пользования_конец*/
/*Контакты*/
.contacts {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.contacts-container {
  max-width: 640px;
  color: #30454F;
}

.contacts-container .contacts-container__label p {
  font-size: 18px;
  line-height: 21px;
}

.contacts-container .contacts-container__label,
.contacts-container .contacts-container__input-message {
  margin-bottom: 20px;
}

.contacts-container .contacts-container__input-email {
  margin-bottom: 16px;
}

.contacts-container__input-email input,
.contacts-container__input-message textarea {
  border: 1px solid #A4B8C1;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
}

.contacts-container__input-message textarea {
  resize: none;
}

.contacts-container__input-message textarea {
  min-height: 87px;
}

.contacts-container__button button {
  width: 151px;
  height: 39px;
  background: #FFFFFF;
  border: 1px solid #FF7A49;
  box-sizing: border-box;
  border-radius: 5px;
}

.contacts-container__button button span {
  color: #FF7A49;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

/*Контакты_конец*/
.bottommenu {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottommenu__info {
  display: flex;
}

.bottommenu__label {
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.bottommenu__info div {
  margin-right: 5px;
}

.bottommenu__info div:last-child {
  margin-right: 0px;
}

.bottommenu__labels-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottommenu__labels-copyright p {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.bottommenu__img-use {
  height: 40px;
  width: 50px;
}

.bottommenu__img-use img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bottommenu__labelLink,
.bottommenu__menulink {
  text-decoration: none;
  color: white;
}

.bottommenu__labelLink {
  line-height: 5px;
}

.bottommenu__menuitems {
  display: flex;
  justify-content: space-between;
  flex: 40% 0 1;
}

.bottommenu__label:first-child {
  margin-bottom: 8px;
}

.bottommenu__item {
  font-size: 14.5px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bottommenu__iconscontainer {
  display: flex;
}

.bottommenu__icon {
  width: 100%;
}

.bottommenu__iconsbody:last-child {
  margin: 0;
}

.bottommenu__iconsbody {
  width: 31px;
  height: 19px;
  margin: 0 17px 0 0;
}

.topmenu__logolink {
  display: block;
  height: 100%;
}

/* Сюжеты */
.plots-container {
  margin-bottom: 60px;
}
.plots-container__row {
  display: flex;
  margin-bottom: 20px;
}
.plots-container__row:last-child {
  margin-bottom: 0px;
}
.plots-container .small-photo {
  flex: 23% 0 1;
  min-width: 277.5px;
}
.plots-container .big-photo {
  flex: 48% 0 1;
  min-width: 575px;
}
.plots-container__photo {
  position: relative;
  margin-right: 20px;
}
.plots-container__photo:last-child {
  margin-right: 0px;
}
.plots-container__photo img {
  border-radius: 5px;
  width: 100%;
}
.plots-container__photo a {
  display: inline-block;
  height: 100%;
}
.plots-container__label {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 18px;
}
.plots-container__label a {
  background: #FFFFFF;
  color: #0091FF;
  border-radius: 18px;
  padding: 7px 20px;
  border: 1px solid #0091FF;
  opacity: 0.7;
}
.plots-container__label a span {
  font-size: 18px;
  line-height: 21px;
  color: #0091FF;
}

/* Сюжеты_Конец*/
/* Сюжеты_Фото */
.mainnav-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.mainnav-container__symbol {
  padding: 3px 20px 0 15px;
}
.mainnav-container__fromlabel {
  text-align: center;
}
.mainnav-container__fromlink span {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #0091FF;
}

.plots-sliders {
  display: flex;
  justify-content: space-between;
}
.plots-sliders__main {
  flex: 64.8% 0 1;
  max-width: 710px;
  overflow: hidden;
}
.plots-sliders__mini {
  display: flex;
  flex-direction: column;
  flex: 35.2% 0 1;
}
.plots-sliders__tab-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex: auto 1 0;
}
.plots-sliders__tab {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plots-sliders__tab span {
  margin-top: 5px;
  font-size: 12px;
  line-height: 14px;
}
.plots-sliders__tab:last-child {
  margin-right: 0;
  padding: 4px 0 0 0;
}
.plots-sliders__slide-label {
  margin-bottom: 30px;
}
.plots-sliders__slide-label span {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.plots-sliders .girl-padding {
  padding-left: 12px;
}
.plots-sliders__svg a {
  display: block;
  height: 100%;
}

.plots-slider__slide {
  height: 710px;
  width: 710px;
  border-radius: 5px;
  background: rgba(140, 140, 140, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.plots-slider__image img {
  width: 100%;
  border-radius: 5px;
}

.boy a {
  color: #0091FF;
}

.girl a {
  color: #FF7A49;
}

.plots-sliders__tab div.girl .label-girl {
  display: inline-block;
  border-bottom: 1px solid #FF7A49;
}

.plots-sliders__tab div.boy .label-boy {
  display: inline-block;
  border-bottom: 1px solid #0091FF;
}

.plotsm-slider__image {
  background: rgba(140, 140, 140, 0.1);
  border-radius: 5px;
  height: 200px;
  width: 200px;
}
.plotsm-slider__image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.plotsm-slider__slide.swiper-slide {
  width: 200px;
  height: 200px;
  margin: 0 0 16px 0;
  cursor: pointer;
}

.plots-sliders__slider-mini {
  width: 415px;
  height: 415px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tab-girl {
  display: none;
}

/* Сюжеты_Фото Конец*/
/* Заказать_Фото*/
.order-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.order-info__buttons {
  display: flex;
}
.order-info__buttons button {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #FF7A49;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 20px;
}
.order-info__buttons button:last-child {
  margin-right: 0px;
}
.order-info__buttons button div span {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FF7A49;
}
.order-info__buttons div:first-child {
  padding: 10.3px 10px 8.3px 30px;
}
.order-info__buttons div:last-child {
  padding: 8.3px 30px 5px 10px;
}
.order-info__rectangle {
  background: #FF7A49;
  border-radius: 5px;
  display: flex;
  min-width: 186px;
  min-height: 39px;
  align-items: center;
  justify-content: space-around;
}
.order-info__cost {
  flex: 50% 0 1;
  text-align: right;
}
.order-info__cost span {
  font-size: 20px;
  line-height: 19px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}
.order-info__r-icon {
  display: flex;
  flex: 10% 0 1;
  align-items: start;
  margin-top: 1px;
}
.order-info__basket {
  display: flex;
  flex: 30% 0 1;
  align-items: center;
}
.order-info__change-options {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-info__change-options div a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-info__change-options div:first-child {
  margin-right: 30px;
}
.order-info__change-label span {
  font-size: 16px;
  line-height: 19px;
  color: #0091FF;
}
.order-info__cancel-label span {
  font-size: 16px;
  line-height: 19px;
  color: #FF7A49;
}
.order-info__cancel-order a, .order-info__change-order a {
  display: block;
  width: 100%;
  height: 100%;
}

.order-info__change-label,
.order-info__cancel-label {
  padding-left: 10px;
}

.main-order__inner-back {
  background: rgba(140, 140, 140, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.main-order__startend-column {
  display: flex;
  flex-direction: column;
  flex: 6% 0 1;
}
.main-order__item-column {
  display: flex;
  flex-direction: column;
  flex: 15% 0 1;
  align-items: center;
  background: #FFFFFF;
  border-radius: 5px;
}
.main-order__item-column, .main-order__startend-column {
  margin: 10px 0;
}
.main-order__image-container {
  margin: 10px 10px 30px 10px;
  height: 331px;
  width: 220px;
}
.main-order__image-container img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.main-order__blank-space {
  margin: 10px 10px 30px 10px;
  height: 331px;
}
.main-order__input-counter input {
  display: block;
  height: 37px;
  width: 37px;
  border: 1px solid #CCD8DE;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #30454F;
  cursor: pointer;
}
.main-order__photo-type {
  height: 37px;
}
.main-order__type-label {
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  text-transform: uppercase;
  color: #0091ff;
}
.main-order__type-label-size {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #30454F;
}
.main-order__photo-type {
  position: relative;
}
.main-order__type-label-price {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.main-order__type-label-price span {
  font-size: 18px;
  line-height: 21px;
  color: #FF7A49;
  text-align: center;
}
.main-order__photo-couple .main-order__input-counter {
  margin: 8px 0;
}
.main-order__photo-couple {
  margin-bottom: 14px;
  position: relative;
}
.main-order__startend-column .main-order__photo-couple, .main-order__item-column .main-order__photo-couple {
  margin-bottom: 14px;
}
.main-order__item-column .main-order__photo-couple::after {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 500%;
  height: 1px;
  top: 106%;
  background: #A4B8C1;
  margin-left: -200%;
  opacity: 0.4;
}
.main-order__startend-column .main-order__photo-couple:last-child::after, .main-order__item-column .main-order__photo-couple:nth-last-child(2)::after {
  content: none;
}
.main-order__startend-column .main-order__photo-couple::after {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 139%;
  height: 2px;
  top: 106%;
  background: #FFFFFF;
  margin-left: -16%;
}
.main-order__startend-column .main-order__photo-couple:last-child, .main-order__item-column .main-order__photo-couple:last-child {
  margin-bottom: 0px;
}
.main-order__item-column .main-order__photo-couple:last-child {
  background: #DE5929;
  opacity: 1;
}
.main-order__pick-size {
  margin: 22px 0px 25px 0;
  width: 195px;
  height: 39px;
  background: #FFFFFF;
  border: 1px solid #FF7A49;
  box-sizing: border-box;
  border-radius: 5px;
}
.main-order__pick-size span {
  font-size: 16px;
  line-height: 19px;
  color: #FF7A49;
}

.main-order-options {
  margin-bottom: 30px;
  background: rgba(140, 140, 140, 0.1);
  border-radius: 5px;
  padding: 10px;
}
.main-order-options__background {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 20px;
}
.main-order-options__background2 {
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.main-order-options__image {
  flex: 49% 0 1;
  height: 280px;
}
.main-order-options__image img {
  width: 100%;
  border-radius: 5px;
}
.main-order-options__params {
  flex: 49% 0 1;
  display: flex;
  flex-direction: column;
}
.main-order-options__prow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}
.main-order-options__prow .main-order-options__prow-label {
  font-size: 14px;
  line-height: 16px;
  color: #A4B8C1;
}
.main-order-options__prow:last-child {
  margin-bottom: 0px;
}
.main-order-options__prow div input {
  display: block;
  height: 37px;
  width: 37px;
  border: 1px solid #CCD8DE;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #30454F;
}
.main-order-options__pname {
  flex: 24% 0 1;
}
.main-order-options__psize {
  flex: 14% 0 1;
  margin-left: -20%;
}
.main-order-options__pcost {
  flex: 14% 0 1;
}
.main-order-options__pname span {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #0091ff;
}
.main-order-options__psize span {
  font-size: 18px;
  line-height: 21px;
  color: #30454F;
}
.main-order-options__pcost span {
  font-size: 18px;
  line-height: 21px;
  color: #FF7A49;
}
.main-order-options__pick-size {
  width: 195px;
  height: 39px;
  background: #FFFFFF;
  border: 1px solid #FF7A49;
  box-sizing: border-box;
  border-radius: 5px;
}
.main-order-options__pick-size span {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FF7A49;
}
.main-order-options__button-container {
  margin-top: auto;
}

.main-order-accept {
  display: flex;
  justify-content: space-between;
}
.main-order-accept__send, .main-order-accept__comment {
  flex: 49% 0 1;
}
.main-order-accept__comment {
  min-height: 300px;
}
.main-order-accept .checkbox1 {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}
.main-order-accept .checkbox1 span {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #30454F;
}
.main-order-accept .main-order-accept__check-box.hidden-label,
.main-order-accept .main-order-accept__cd-email.hidden-label {
  display: none;
}
.main-order-accept__decription {
  margin-bottom: 15px;
}
.main-order-accept .main-order-options__prow-label, .main-order-accept__decription span, .main-order-accept__decription-last span {
  font-size: 14px;
  line-height: 16px;
  color: #A4B8C1;
}
.main-order-accept__decription-last {
  margin-bottom: 40px;
}
.main-order-accept__decription-last span:nth-child(1) {
  text-transform: uppercase;
}
.main-order-accept__decription-last span:nth-child(2) {
  display: inline-block;
  padding: 0px 10px;
  font-size: 18px;
  line-height: 21px;
  color: #30454F;
}
.main-order-accept__decription-last span:nth-child(3) {
  font-size: 18px;
  line-height: 21px;
  color: #FF7A49;
}
.main-order-accept__order-detail button {
  width: 218px;
  height: 41px;
  background: #FF7A49;
  border-radius: 5px;
}
.main-order-accept__order-detail button span {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main-order-accept__order-detail {
  display: flex;
  align-items: center;
}
.main-order-accept__order-cost {
  padding-left: 25px;
}
.main-order-accept__order-cost span {
  font-size: 20px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FF7A49;
  font-weight: 600;
}
.main-order-accept__link span {
  font-size: 14px;
  line-height: 16px;
  color: #0091FF;
}
.main-order-accept__link {
  margin-bottom: 15px;
  cursor: pointer;
}
.main-order-accept__spoiler-label {
  margin-bottom: 12px;
}
.main-order-accept__spoiler-label span {
  font-size: 14px;
  line-height: 16px;
  color: #A4B8C1;
}
.main-order-accept__spoiler-input.too-many-chars textarea {
  border: 1px solid #FF946D;
}
.main-order-accept__spoiler-input textarea {
  border: 1px solid #A4B8C1;
  box-sizing: border-box;
  border-radius: 5px;
  resize: none;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  min-height: 84px;
}
.main-order-accept__input-counter {
  margin-bottom: 15px;
}
.main-order-accept__input-counter.too-many-chars span {
  color: #FF946D;
}
.main-order-accept__input-counter.too-many-chars_animation span {
  animation: toManyChars 0.1s linear 2;
}
@keyframes toManyChars {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.main-order-accept__input-counter span {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  text-transform: uppercase;
  color: #A4B8C1;
}
.main-order-accept__spoiler-footer {
  display: flex;
}
.main-order-accept__spoiler-footer button {
  background: #FFFFFF;
  border: 1px solid #FF7A49;
  box-sizing: border-box;
  border-radius: 5px;
  width: 120px;
  height: 39px;
}
.main-order-accept__spoiler-footer button span {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FF7A49;
}
.main-order-accept__spoiler-footer p {
  font-size: 14px;
  line-height: 16px;
  color: #A4B8C1;
}
.main-order-accept__spoiler-footer-meta {
  margin: 0 10px 0px 15px;
}
.main-order-accept__spoiler {
  display: none;
}
.main-order-accept__spoiler.active-spoiler {
  display: block;
}

.checkbox1 input {
  display: none;
}

.checkbox1 svg {
  position: absolute;
  left: 3px;
  top: 6px;
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.checkbox1 {
  padding: 0 0 0 45px;
  position: relative;
  cursor: pointer;
}

.checkbox1:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #A4B8C1;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.6s ease 0s;
}

.checkbox1.activebox:before {
  background-color: #DE5929;
}

.checkbox1.activebox svg {
  opacity: 1;
}

/* Заказать_Фото Конец*/
/* Авторизация*/
.main-auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.main-auth {
  display: flex;
}
.main-auth__input-button {
  display: flex;
}
.main-auth__img-container {
  padding: 10px;
  height: 455px;
  width: 306px;
  border-radius: 5px;
  background: rgba(140, 140, 140, 0.1);
  text-align: center;
  margin-right: 30px;
}
.main-auth__img-container img {
  width: 100%;
  height: 100%;
}
.main-auth__code-input input {
  border: 1px solid #A4B8C1;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 11px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
}
.main-auth__code-input button {
  background: #FF7A49;
  border-radius: 5px;
  width: 207px;
  height: 40px;
  margin-left: -5px;
}
.main-auth__code-input button span {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.main-auth__info-img-container {
  width: 332px;
  height: 332px;
}
.main-auth__info-label {
  margin: 15px 0 26px 0;
}
.main-auth__info-label p {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.main-auth__info-img-container img {
  width: 100%;
  height: 100%;
}
.main-auth__input-button div {
  width: 130px;
}

.main-auth__input-container {
  width: 130px;
}

/* Авторизация Конец*/
/* Попапы */
.popup-change-size.fancybox-content {
  background: none;
}

.pp-change-size {
  background: #FFFFFF;
  width: 883px;
  border-radius: 5px;
  padding: 40px 0;
}
.pp-change-size__container {
  width: 563px;
  margin: 0 auto;
}
.pp-change-size__photo-change {
  display: flex;
  justify-content: space-between;
}
.pp-change-size__change-table {
  flex: 70% 0 1;
}
.pp-change-size__changer-result {
  flex: 20% 0 1;
  display: flex;
  flex-direction: column;
}
.pp-change-size__background {
  width: 563px;
  height: 563px;
  background: rgba(140, 140, 140, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pp-change-size__background img {
  width: 100%;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.pp-change-size__photo-type {
  flex: 50% 0 1;
}
.pp-change-size__photo-size {
  flex: 40% 0 1;
}
.pp-change-size__photo-type span {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #A4B8C1;
}
.pp-change-size__photo-size span {
  font-size: 18px;
  line-height: 21px;
  color: #30454F;
}
.pp-change-size__change-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.pp-change-size__change-row:last-child {
  margin-bottom: 0px;
}
.pp-change-size__changer {
  display: flex;
  width: 87px;
  height: 32px;
  border: 1px solid #0091FF;
  border-radius: 5px;
  overflow: hidden;
}
.pp-change-size__changer div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 27px;
}
.pp-change-size__changer div input {
  display: block;
  width: 100%;
  height: 100%;
  border-left: 1px solid rgba(0, 145, 255, 0.1);
  border-right: 1px solid rgba(0, 145, 255, 0.1);
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #30454F;
}
.pp-change-size__changer button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 32px;
  width: 30px;
}
.pp-change-size__fullcost span, .pp-change-size__cost span {
  font-size: 18px;
  line-height: 21px;
  color: #FF7A49;
}
.pp-change-size__separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 60% 0 1;
}
.pp-change-size__change-row .pp-change-size__separator:last-child {
  flex: 38% 0 1;
}
.pp-change-size__changer-calc div {
  padding: 0 10px 10px 10px;
}
.pp-change-size__changer-calc p {
  padding: 10px;
}
.pp-change-size__changer-calc p {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #30454F;
}
.pp-change-size__changer-result button {
  width: 141px;
  height: 39px;
  background: #FF7A49;
  border-radius: 5px;
}
.pp-change-size__changer-result button span {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.pp-change-size__changer-background {
  flex: auto 1 0;
  background: rgba(140, 140, 140, 0.1);
  margin-bottom: 8px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  position: absolute;
  top: 35%;
  right: 31%;
}

.fancybox-navigation .fancybox-button--arrow_left {
  position: absolute;
  top: 35%;
  left: 31%;
}

.fancybox-button.fancybox-button--arrow_right,
.fancybox-button.fancybox-button--arrow_left {
  background: none;
  color: #DE5929;
}

.fancybox-button.fancybox-close-small {
  background: #DE5929;
  right: 18%;
  border-radius: 3px 3px 0 0;
}
.fancybox-button.fancybox-close-small svg path {
  fill: white;
}

.pp-label-info {
  width: 638px;
  background: #FFFFFF;
  border-radius: 5px;
}
.pp-label-info__wrapper {
  padding: 40px 35px;
}
.pp-label-info__main-label {
  margin-bottom: 30px;
}
.pp-label-info__main-label span {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.pp-label-info__h-label {
  margin-bottom: 13px;
}
.pp-label-info__h-label span {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.pp-label-info__l-label {
  margin-bottom: 20px;
}
.pp-label-info__l-label span {
  font-size: 18px;
  line-height: 21px;
}
.pp-label-info__text-image {
  display: flex;
  justify-content: space-between;
}
.pp-label-info__text-image .pp-label-info__l-label {
  flex: 49% 0 1;
}
.pp-label-info__text-image .pp-label-info__img {
  flex: 45% 0 1;
}
.pp-label-info__text-image .pp-label-info__img img {
  width: 100%;
}
.pp-label-info__imageb {
  margin-bottom: 30px;
}
.pp-label-info__imageb img {
  width: 100%;
  border-radius: 5px;
}
.pp-label-info__button-container {
  display: flex;
  justify-content: flex-end;
}
.pp-label-info__button {
  width: 81px;
  height: 39px;
  background: #FF7A49;
  border-radius: 5px;
}
.pp-label-info__button0 {
  margin-right: 30px;
  width: 81px;
  height: 39px;
  background: #FFFFFF;
  border: 1px solid #FF7A49;
  border-radius: 5px;
}
.pp-label-info__button0 span {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FF7A49;
}
.pp-label-info__button span {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pp-orderl-info {
  width: 598px;
  background: #FFFFFF;
  border-radius: 5px;
}
.pp-orderl-info__main-label {
  margin-bottom: 25px;
  padding: 40px 35px 0 35px;
}
.pp-orderl-info__main-label span {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #30454F;
}
.pp-orderl-info__table {
  margin-bottom: 33px;
}
.pp-orderl-info__table .main-row {
  background: rgba(140, 140, 140, 0.1);
}
.pp-orderl-info__row {
  display: flex;
  justify-content: space-between;
  padding: 8px 35px;
  position: relative;
}
.pp-orderl-info__row:last-child {
  justify-content: normal;
}
.pp-orderl-info__row-label span {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #30454F;
}
.pp-orderl-info__row .pp-orderl-info__row-label-meta:nth-child(1) {
  flex: 30% 0 1;
}
.pp-orderl-info__row .pp-orderl-info__row-label-meta:nth-child(2) {
  flex: 24% 0 1;
}
.pp-orderl-info__row .pp-orderl-info__row-label-meta:nth-child(3) {
  flex: 21% 0 1;
}
.pp-orderl-info__row-label-meta span {
  font-size: 18px;
  line-height: 21px;
  color: #30454F;
}
.pp-orderl-info .meta-cost span {
  font-weight: normal;
  color: #FF7A49;
}
.pp-orderl-info__row.second-row::after {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 88%;
  height: 1px;
  top: 100%;
  background: #A4B8C1;
  margin-left: 0%;
  opacity: 0.4;
}
.pp-orderl-info__row:nth-last-child(2)::after {
  content: none;
}
.pp-orderl-info__row.main-row:last-child div {
  margin-right: 20px;
}
.pp-orderl-info__row.main-row:last-child div:last-child {
  margin-right: 0px;
}
.pp-orderl-info__lb {
  padding: 0 35px 8px 35px;
}
.pp-orderl-info__lb span {
  font-size: 14px;
  line-height: 16px;
  color: #A4B8C1;
}
.pp-orderl-info__input-container {
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.pp-orderl-info__input-container div {
  flex: 46% 0 1;
}
.pp-orderl-info__input-container div input {
  border: 1px solid #A4B8C1;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
}
.pp-orderl-info__check-box {
  padding: 0 35px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.pp-orderl-info__check-box p {
  font-size: 14px;
  line-height: 16px;
  color: #30454F;
}
.pp-orderl-info__check-box p a {
  color: #1da1f2;
}
.pp-orderl-info__checkbox {
  display: flex;
}
.pp-orderl-info__checkbox .checkbox1 {
  margin-right: 5px;
}
.pp-orderl-info__b-container {
  display: flex;
  padding: 0 35px 50px 35px;
}
.pp-orderl-info__b-container button {
  width: 139px;
  height: 39px;
  background: #FF7A49;
  border-radius: 5px;
  margin-right: 15px;
}
.pp-orderl-info__b-container button span {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.pp-orderl-info__b-container p {
  padding-left: 5px;
  flex: 70% 0 1;
  font-size: 14px;
  line-height: 16px;
  color: #A4B8C1;
}

/* Попапы Конец */
/* Заказ успешно пошел в обработку */
.acept-order__main-label {
  margin: 30px 0 20px 0;
}
.acept-order__main-label span {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.acept-order__info-label span {
  font-size: 18px;
  line-height: 21px;
}
.acept-order__info-label {
  margin-bottom: 10px;
}
.acept-order__info-label:last-child {
  margin-bottom: 0px;
}
.acept-order__main-label, .acept-order__info-label, .acept-order__svg {
  text-align: center;
}
.acept-order__go-back a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 39px;
  background: #FFFFFF;
  border: 1px solid #FF7A49;
  box-sizing: border-box;
  border-radius: 5px;
}
.acept-order__go-back a span {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FF7A49;
}
.acept-order__go-back {
  margin-top: 38px;
  display: flex;
  justify-content: center;
}

.denied-order__main-label {
  margin: 30px 0 20px 0;
}
.denied-order__main-label span {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.denied-order__main-label, .denied-order__svg {
  text-align: center;
}
.denied-order__go-back a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 242px;
  height: 39px;
  background: #FFFFFF;
  border: 1px solid #FF7A49;
  box-sizing: border-box;
  border-radius: 5px;
}
.denied-order__go-back a span {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FF7A49;
}
.denied-order__go-back {
  margin-top: 38px;
  display: flex;
  justify-content: center;
}

/* Заказ успешно пошел в обработку Конец*/
/* Состояния для попапов*/
.pp-orderl-info__checkbox.wrong .checkbox1:before,
.pp-orderl-info__input-container div input.wrong {
  box-shadow: 0 0 2px 2px #DE5929;
}

/* Состояния для попапов Конец*/
/* Адаптив*/
@media (max-width: 1200px) {
  .plots-container .big-photo {
    min-width: 342px;
  }

  .plots-container .small-photo {
    min-width: 230px;
  }

  .plots-container__photo {
    margin-right: 18px;
  }

  .plots-container__row {
    margin-bottom: 18px;
  }

  .plots-container__row:last-child {
    margin-bottom: 0px;
  }
}
@media (max-width: 1030px) {
  .plots-container__row {
    margin-bottom: 0px;
    flex-wrap: wrap;
    max-width: 520px;
    margin: 0 auto;
  }

  .plots-container__row .plots-container__photo.small-photo:last-child {
    margin-right: 0px;
  }

  .plots-container .big-photo {
    min-width: 500px;
    margin-bottom: 18px;
  }

  .plots-container .small-photo {
    min-width: 241px;
    margin-bottom: 18px;
  }
}
@media (max-width: 548px) {
  .plots-container__row {
    margin-bottom: 0px;
    flex-wrap: wrap;
    max-width: 250px;
    margin: 0 auto;
  }

  .plots-container__row .plots-container__photo.small-photo:last-child {
    margin-right: 0px;
  }

  .plots-container .big-photo {
    min-width: 241px;
    margin-bottom: 10px;
  }

  /*  .plots-container .small-photo {
      min-width: 241px;
      margin-bottom: 10px;
    }*/
}
@media (max-width: 1160px) {
  .plots-sliders__slider-mini, .plots-sliders__slide-label {
    margin-left: auto;
  }

  .plots-slider__slide {
    height: 611px;
    width: 611px;
  }

  .plotsm-slider__slide.swiper-slide {
    width: 166px;
    height: 166px;
  }

  .plotsm-slider__image {
    width: 166px;
    height: 166px;
  }

  .plots-sliders__slide-label {
    width: 345px;
  }

  .plots-sliders__slider-mini {
    width: 345px;
    height: 345px;
  }
}
@media (max-width: 990px) {
  .plots-slider__slide {
    height: 483px;
    width: 483px;
  }

  .plotsm-slider__slide.swiper-slide {
    width: 109px;
    height: 109px;
  }

  .plotsm-slider__image {
    width: 109px;
    height: 109px;
  }

  .plots-sliders__slide-label {
    width: 220px;
  }

  .plots-sliders__slider-mini {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 830px) {
  .bottommenu__menuitems {
    flex: 55% 0 1;
  }

  .topmenu__menuitems {
    flex: 49.3333% 0 1;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 10px 0;
  }

  .bottommenu__menuitems {
    flex-wrap: wrap;
    flex: 40% 0 1;
  }
  .bottommenu__item {
    flex: 50% 0 1;
    padding: 3px 0;
  }
}
@media (max-width: 598px) {
  .bottommenu__menuitems {
    display: none;
  }
  .bottommenu__iconsbody {
    margin: 0 5px 0 0;
  }
  .bottommenu__iconsbody:last-child {
    margin: 0;
  }
}
@media (max-width: 700px) {
  .main-auth__info-img-container {
    display: none;
  }

  .main-auth__img-container {
    order: 2;
    margin: 0;
  }

  .main-auth {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1095px) {
  .order-info__not-button {
    position: relative;
  }

  .order-info__rectangle {
    position: absolute;
    top: -100px;
    left: -186px;
    z-index: 50;
  }

  .main-order__startend-column {
    position: relative;
  }

  .main-order__inner-back {
    background: none;
  }

  .main-order-options {
    background: none;
  }

  .main-order__item-column button {
    display: none;
  }

  .main-order-options__button-container {
    display: none;
  }

  /*  .main-order__startend-column .main-order__photo-couple{
      position: relative;
    }*/
  .main-order__startend-column .main-order__photo-couple::after {
    content: none;
  }

  .main-order__type-label-price {
    right: 30px;
    min-width: 50px;
  }

  .main-order__type-label {
    position: absolute;
    left: 30px;
    min-width: 50px;
    top: 4px;
  }

  .main-order__type-label-size {
    position: absolute;
    left: 30px;
    min-width: 50px;
    top: 15px;
  }

  .main-order-options__background {
    position: relative;
  }

  .main-order-options__background::after {
    position: absolute;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 120%;
    height: 5px;
    top: 100%;
    background: #A4B8C1;
    margin-left: -10%;
    opacity: 0.4;
  }

  .main-order-options__background::before {
    position: absolute;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 120%;
    height: 5px;
    top: -3%;
    background: #A4B8C1;
    margin-left: -10%;
    opacity: 0.4;
  }

  .main-order-options__background2 {
    flex-direction: column;
  }

  .main-order-options__image {
    margin-bottom: 12px;
  }

  .main-order-options__params .main-order-options__prow {
    order: 2;
  }

  .prow-label.main-order-options__prow {
    margin-bottom: 20px;
    order: 1;
  }

  .main-order-accept {
    flex-direction: column;
  }

  .main-order-accept__comment {
    min-height: 50px;
    margin-bottom: 35px;
  }
}
@media (max-width: 950px) {
  .main-order__type-label-price {
    right: 55px;
    min-width: 50px;
    top: -53px;
  }

  .main-order__type-label {
    left: 53px;
    min-width: 50px;
    top: -67px;
  }

  .main-order__type-label-size {
    left: 62px;
    min-width: 50px;
    top: -54px;
  }

  .main-order__image-container {
    margin: 10px 5px 30px 5px;
    height: 261px;
    width: 177px;
  }

  .first-item-column {
    align-items: flex-end;
  }

  .last-item-column {
    align-items: flex-start;
  }

  .order-info {
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=main.css.map */
